#! /usr/bin/env nextflow

nextflow.enable.dsl=2

params {
  reference="NC_001477" // flu_vic_ha // dengue
  fasta="data/sequences.fasta"
  metadata="data/metadata.tsv"
  outdir="results"
  help=false
}

process {
  publishDir = "$params.outdir"
}

profiles {
  docker {
    includeConfig 'configs/containers.config'
    docker.enabled = true
    docker.userEmulation = true
    // docker.runOptions = '-u \$(id -u):\$(id -g) --platform linux/amd64'
  }
  singularity {
    includeConfig 'configs/containers.config'
    singularity.enabled = true
    singularity.autoMounts = true
  }
}